* {
    box-sizing: border-box;
  
  }


 h3 {
    text-decoration-line: underline overline;
 }

 span {
    color: red;
 }
 .Article {
    background-color: rgb(41, 93, 93);
 }
 .grid {
    position: absolute;
    z-index: 2;
    margin-left: 100px;
    margin-top: 100px;
 }
 .grid1 {
    position: absolute;
    z-index: 1;
 }
 .box {
    float: right;
    padding-right: 400px;
    padding-top: 100px;
 }
h1 {
    text-decoration-line: underline overline;
}
.button1 {
   padding-top: 20px;
   text-align: center;
}
.portion1 {
   padding-bottom: 50px;
}

label {
   display: flex;
   flex-direction: row;
   padding-top: 10px;
   
   font-weight: bold;
   margin-bottom: 10px;
 }
 
 input {
   height: 30px;
   flex: 0 0 200px;
   margin-left: 10px;
   font-weight: bold;
 }
